.saved-project-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width:1200px;
    margin: 0 auto;
}

.saved-project button {
    margin-top: 5px;
}
.saved-project a {
    margin-bottom: 10px;
    color: black;
}

@media only screen and (min-width: 900px){
    .saved-project-list {
        flex-direction: row;
        flex-flow: row wrap;
}
}