.saved-project-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.saved-project button {
    margin-top: 5px;
}
.saved-project a {
    margin-bottom: 10px;
    color: black;
}