.saved-project-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.saved-project {
    max-width: 500px;
    width: 80%;
    border: 1px solid black;
}
.saved-project button {
    margin-top: 5px;
}