.saved {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background: #918F8F;
    min-height: 700px;
    text-align: center;
  }