.saved {
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #FFFFFF;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    color: #515052;
    max-width: 1250px;
    margin: 0 auto;
    border: 1px solid  #FCAB10;
}
  .saved-stitch, .saved-project {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    border: #CACBCB solid 1px;
    background:#ffffff;
    padding: 10px 20px;
    margin: 10px  auto;
    border-radius: 5px;
    width:90%;
    box-shadow: 5px 5px 2px #CACBCB;
  }


  @media only screen and (min-width: 900px){
   
    .saved-stitch, .saved-project {
      width: 25%;
      min-height: 500px;
      margin: 10px 10px;
    }
  }