.search-bar {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.filters>input {
    display: inline-block;
    width: 50px;
}
.filters label {
    display: inline;
}
.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
button {
    margin: 5px auto;
    max-width: 200px;
  }