
.img {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1;
  }

  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    min-height: 300px;
    padding: 30px 30px;
    background-color:rgba(252, 169, 16, 0.794);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
    
  }

.about p {
    text-align: center;
    width: 80%;
    font-weight: 500;
    max-width: 470px;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    z-index: 2;
    position: relative;
    top: -30px;
    font-size: 1.2em;
    
  }
  
section p {
    width: 60%;
  }
.img p {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px){
  section p {
    width: 90%;
  }
  .about p {
    font-size: 1.5em;
  }
}