nav li {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
}

nav {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}