.signup input, label {
    display: block;
}
.signup, .login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
  }
.password-require {
    font-size: 0.8em;
}
.signup input, .signup label, .login label, .login input, .signup p {
    max-width: 500px;
    margin: 0 auto;
}
.success-message {
    color: #44AF69;
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
}